@tailwind base;
@tailwind components;
@tailwind utilities;
/* Primary Button */
.primary-btn {
    @apply bg-primary px-10 py-3 font-semibold uppercase shadow-md rounded-md;
}
.primary-btn:hover {
    @apply text-secondary
}
/* ----------------------- */

/* SHOP NOW BUTTON */
.shop-now-btn {
    @apply bg-primary text-black uppercase px-3 py-2 font-semibold rounded-md shadow-md transition-all ease-in
}

.shop-now-btn:hover {
    @apply bg-secondary text-base-100
}

/* ----------------------- */

/* Add To Cart Button */
.add-to-cart-btn {
    @apply bg-primary flex justify-center items-center gap-x-2 p-3 font-semibold uppercase;
}
.add-to-cart-btn:hover {
    @apply shadow-lg;
}

/* ----------------------- */

/* Outline Button */
.outline-btn {
    @apply border p-3 font-semibold text-[#999] text-center;
    border: 1px solid #ddd
}

.outline-btn:hover {
    @apply bg-primary text-base-100 border-primary shadow-lg;
}
/* ----------------------- */

/* CAROUSEL ANIMATIONS */
/* Animation Style 01 */
.slick-active.animation-style-01 .carousel-text>h5 {
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInUp;
}

.slick-active.animation-style-01 .carousel-text>h2 {
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInUp;
}

.slick-active.animation-style-01 .carousel-text>div {
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 1800ms ease-in-out 0s normal none 1 running zoomInUp;
}

.slick-active.animation-style-01 .carousel-text>p {
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInUp;
}

.slick-active.animation-style-01 .carousel-text>.primary-btn {
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running zoomInUp;
    animation: 2200ms ease-in-out 0s normal none 1 running zoomInUp;
}

/* Animation Style 02 */
.slick-active.animation-style-02 .carousel-text>h5 {
    -webkit-animation: 1400ms ease-in-out 0s normal none 1 running zoomInLeft;
    animation: 1400ms ease-in-out 0s normal none 1 running zoomInLeft;
}

.slick-active.animation-style-02 .carousel-text>h2 {
    -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInLeft;
    animation: 1600ms ease-in-out 0s normal none 1 running zoomInLeft;
}

.slick-active.animation-style-02 .carousel-text>div {
    -webkit-animation: 1800ms ease-in-out 0s normal none 1 running zoomInLeft;
    animation: 1800ms ease-in-out 0s normal none 1 running zoomInLeft;
}

.slick-active.animation-style-02 .carousel-text>p {
    -webkit-animation: 2000ms ease-in-out 0s normal none 1 running zoomInLeft;
    animation: 2000ms ease-in-out 0s normal none 1 running zoomInLeft;
}

.slick-active.animation-style-02 .carousel-text>.primary-btn {
    -webkit-animation: 2200ms ease-in-out 0s normal none 1 running zoomInLeft;
    animation: 2200ms ease-in-out 0s normal none 1 running zoomInLeft;
}
/* ----------------------- */